:8080 {
	import apikeys
	route /api* {
		rate_limit @noApiKey {
			distributed
			zone global {
				comment "does not match remote host"
				match {
					method GET
				}
				key static
				events 12
				window 1m
			}
			zone per_host_burst {
				key {remote_host}
				events 2
				window 1s
			}
			zone per_host_long {
				key {remote_host}
				events 10
				window 10s
			}
			log_key
		}
		rate_limit @withApiKey {
			comment "These are configured per bearer"
			zone expensive {
				match {
					path *expensive*
				}
				key {header.Authorization}
				events 1
				window 1s
			}
			zone cheap {
				key {header.Authorization}
				events 10
				window 1s
			}
			log_key
		}
		respond @noApiKey "I'm behind the rate limiter!"
		respond @withApiKey "Premium"
	}
	respond "Not limited"
}
