:8080 {
	@noApiKey {
		not header Authorization "Bearer key1"
	}
	@withApiKey {
		header Authorization "Bearer key1"
	}
	route /api* {
		rate_limit @noApiKey {
			distributed
			zone static_example {
				match {
					method GET
				}
				key static
				events 4
				window 1m
			}
			zone dynamic_example {
				key {remote_host}
				events 2
				window 1s
			}
			log_key
		}
		rate_limit @withApiKey {
			zone expensive {
				match {
					path *expensive*
				}
				key {remote_host}
				events 1
				window 1s
			}
			zone cheap {
				key {remote_host}
				events 10
				window 1s
			}
		}
		respond @noApiKey "I'm behind the rate limiter!"
		respond @withApiKey "Premium"
	}
	respond "Not limited"
}
